@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h3>Calculator</h3>

    <div class="textwrap">
    <span class="text2">@Expression2</span>
    <span class="text1">@Expression1</span>
    </div>
<p role="status">Expression: @Expression1</p>

<button class="btn btn-primary" @onclick="() => BTNClick(count)">+</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">-</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">/</button>

<br />
<button class="btn btn-primary" @onclick="@(()=> Calculate(count))">=</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">0</button>

<br/>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">1</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">2</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">3</button>
<br/>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">4</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">5</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">6</button>
<br/>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">7</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">8</button>
<button class="btn btn-primary" @onclick="() => BTNClick(count)">9</button>



@code {
        string Expression1;
        string Expression2;
        double a, b;
        int count;

        void BTNClick(int count)
        {
            a = double.Parse(Expression1);
            Expression2 = "";
            this.count = count;
            switch (count)
            {
                case 1:
                    Expression1 = a.ToString() + " + ";
                    break;
                case 2:
                    Expression1 = a.ToString() + " - ";
                    break;
                case 3:
                    Expression1 = a.ToString() + " * ";
                    break;
                case 4:
                    Expression1 = a.ToString() + " / ";
                    break;

            }
        }

        void Calculate(int count)
        {
            this.Expression2 = "";
            switch (count)
            {
                case 1:
                    b = a + double.Parse(Expression1);
                    Expression2 = b.ToString();
                break;
                case 2:
                    b = a - double.Parse(Expression1);
                    Expression2 = b.ToString();
                break;
                case 3:
                    b = a / double.Parse(Expression1);
                    Expression2 = b.ToString();
                break;
                case 4:
                    b = a * double.Parse(Expression1);
                    Expression2 = b.ToString();
                break;

            }
    }

}
