@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h3>Calculator</h3>

<p role="status">Expression: @Expression</p>

<button class="btn btn-primary" @onclick="Plus">+</button>
<button class="btn btn-primary" @onclick="Minus">-</button>
<button class="btn btn-primary" @onclick="Multiply">/</button>

<br />
<button class="btn btn-primary" @onclick="Multiply">=</button>
<button class="btn btn-primary" @onclick="AppendNumber">0</button>

<br/>
<button class="btn btn-primary" @onclick="AppendNumber">1</button>
<button class="btn btn-primary" @onclick="AppendNumber">2</button>
<button class="btn btn-primary" @onclick="AppendNumber">3</button>
<br/>
<button class="btn btn-primary" @onclick="Plus">4</button>
<button class="btn btn-primary" @onclick="Plus">5</button>
<button class="btn btn-primary" @onclick="Plus">6</button>
<br/>
<button class="btn btn-primary" @onclick="Plus">7</button>
<button class="btn btn-primary" @onclick="Plus">8</button>
<button class="btn btn-primary" @onclick="Plus">9</button>



@code {
        string Expression1;
        string Expression2;
        double a, b;
        int count;

        void BTNClick(int count)
        {
            a = double.Parse(Expression1);
            Expression2 = "";
            this.count = count;
            switch (count)
            {
                case 1:
                    Expression1 = a.ToString() + " + ";
                    break;
                case 2:
                    Expression1 = a.ToString() + " - ";
                    break;
                case 3:
                    Expression1 = a.ToString() + " * ";
                    break;
                case 4:
                    Expression1 = a.ToString() + " / ";
                    break;

            }
        }

        void Calculate(int count)
        {
            this.Expression2 = "";
            switch (count)
            {
                case 1:
                    b = a + double.Parse(Expression1);
                    Expression2 = b.ToString();
                    break;
                case 2;
                    b = a + double.Parse(Expression1);
                    Expression2 = b.ToString();
                    break;

            }
    }

}
