@page "/calculator"

<PageTitle>Calculator</PageTitle>

<h3>Calculator</h3>

    <div class="textwrap">
    <span class="text2">@Expression2</span>
    <span class="text1">@Expression1</span>
    </div>
<p role="status">Expression: @Expression1</p>

<button class="btn btn-primary" @onclick="() => AddOperation('+')">+</button>
<button class="btn btn-primary" @onclick="() => AddOperation('-')">-</button>
<button class="btn btn-primary" @onclick="() => AddOperation('/')">/</button>

<br />
<button class="btn btn-primary" @onclick="() => AddOperation('*')">*</button>
<button class="btn btn-primary" @onclick="@(()=> Calculate())">=</button>
<button class="btn btn-primary" @onclick="() => AddDigit(0)">0</button>

<br/>
<button class="btn btn-primary" @onclick="() => AddDigit(1)">1</button>
<button class="btn btn-primary" @onclick="() => AddDigit(2)">2</button>
<button class="btn btn-primary" @onclick="() => AddDigit(3)">3</button>
<br/>
<button class="btn btn-primary" @onclick="() => AddDigit(4)">4</button>
<button class="btn btn-primary" @onclick="() => AddDigit(5)">5</button>
<button class="btn btn-primary" @onclick="() => AddDigit(6)">6</button>
<br/>
<button class="btn btn-primary" @onclick="() => AddDigit(7)">7</button>
<button class="btn btn-primary" @onclick="() => AddDigit(8)">8</button>
<button class="btn btn-primary" @onclick="() => AddDigit(9)">9</button>



@code {
    string Expression1 = "";
    string Expression2 = "";
    double a, b;
    char operation;

    void AddDigit(int digit)
    {
        Expression1 += digit.ToString();

    }

    void AddOperation(char op)
    {
        a = double.Parse(Expression1);
        operation = op;
        Expression1 = "";
        Expression2 += op;
    }


    //Проблема в вашем коде заключается в том, что после нажатия на кнопку операции(+, -, *, /),
    //переменная a устанавливается только один раз при вызове метода AddOperation(). 
    //В результате переменная a остается равной значению, введенному до операции, и не обновляется при последующем вводе числа.
    //Это приводит к неправильным результатам вычислений.

    // Чтобы исправить это, вам нужно обновлять переменную a при каждом вводе числа.
    // Для этого вы можете перенести установку переменной a в метод Calculate() и вызывать его перед выполнением операции.
    void Calculate()
    {
        b = double.Parse(Expression1);
        switch (operation)
        {
            case '+':
                Expression1 = (a + b).ToString();
                break;

            case '-':
                Expression1 = (a - b).ToString();
                break;

            case '*':
                Expression1 = (a * b).ToString();
                break;

            case '/':
                Expression1 = (a / b).ToString();
                break;
        }
        Expression2 = "";
    }

}
